/* [NOTES] 
em's are relative to the font size 
rems are based on the root vs the parent font size*/
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Rajdhani&display=swap');
:root{
    --vertical-space : 2rem;
    --horizontal-space: 3rem;

    --light-color : #D9BFA9;
    --dark-color : #594438;
    --body-color : black;
    --heading-color : #B6BFA3;
    --contrast-color : magenta;
}
body {
    font-size: 18px; 
    line-height: 1.5;
    font-family: 'Rajdhani', sans-serif;
    background-image: repeating-linear-gradient(135deg, rgba(189,189,189,0.1) 0px, rgba(189,189,189,0.1) 2px,transparent 2px, transparent 4px),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
    color: var(--body-color);
}

h1, h2, h3 {
    line-height: 1.0;
    font-family: 'Inconsolata', monospace;
    color: var(--heading-color);
}

a {
    color: var(--body-color);
    text-decoration-color : var(--contrast-color);
    
}

a:hover {
    color: var(--contrast-color);
    text-decoration-color : var(--heading-color);
}
/* p, ul, dl {
    font-family: 'Rajdhani', sans-serif;
} */
#about-me img {
    height: 15em;
}

.icon {
    height: 2rem;
    width: 2rem;
}

/* body#portfolio img {
    height: 10em;
} */

p {
    max-width: 50em;
}

/*
body {
    display: grid;
    /* grid-template-areas: "head head" */
                        /* "nav nav" */
                        /* "main main" */
                        /* "foot foot"; 
    grid-template-columns: 1fr 4fr; the left colomn will be 20em wide and the right one will be the rest of the space availible 
    grid-template-rows: auto auto 1fr auto; 
}
*/

/* @media screen and (min-width: 25em){ */
    /* body{ */
        /* grid-template-areas: "head head" */
                                /* "nav main" */
                                /* "foot foot";  */
        /* grid-template-rows: auto auto 1fr auto; */
    /* } */
/* } */

 body > * { /*all descendants of the body */
    padding-left: var(--horizontal-space);
    padding-right: var(--horizontal-space);

}
/*


header, footer {
    padding-top: var(--vertical-space);
    padding-bottom: var(--vertical-space);

}

header h1, footer h1{
    /* margin: 0; */
    /* margin-top: 1em; */
/* } */

body#portfolio ul#portfolio-items {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    list-style-type: none;
    padding: 0;
}

footer {
    text-align: center;
}

#headshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
#navigation li {

    list-style: none;
    display: inline-flex;
    text-align: center;
    justify-content: space-around;
  }


  @media screen and (min-width: 25em){
    body#portfolio ul#portfolio-items li{
        flex-basis: 48%;
        padding-right: 2%;
    }
    }

body#portfolio ul#portfolio-items li img{
    max-width: 100%;
}

